* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_24 {
  width: 393px;
  height: 852px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_37 {
  width: 393px;
  height: 913px;
  background: url("../images/v1_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_38 {
  width: 227px;
  color: rgba(0,0,0,0.9100000262260437);
  position: absolute;
  top: 558px;
  left: 60px;
  font-family: JejuGothic;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_39 {
  width: 277px;
  color: rgba(55,101,218,1);
  position: absolute;
  top: 331px;
  left: 74px;
  font-family: JejuGothic;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_40 {
  width: 354px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 422px;
  left: 29px;
  font-family: JejuGothic;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v1_41 {
  width: 263px;
  height: 43px;
  background: rgba(145,182,252,0.8299999833106995);
  opacity: 1;
  position: absolute;
  top: 584px;
  left: 60px;
  overflow: hidden;
}
.v1_42 {
  width: 215px;
  height: 48px;
  background: rgba(196,197,243,1);
  opacity: 1;
  position: absolute;
  top: 699px;
  left: 84px;
  overflow: hidden;
}
.v1_43 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 709px;
  left: 136px;
  font-family: JejuGothic;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
